*~
*.bak
doxumentation/
Visual Micro/
.kateproject.d/

*.atsln
*.atsuo
*.cppproj

*.eep
*.elf
*.hex
*.a
*.mk
*Makefile


*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
*.snm
*.nav
*.synctex.gz
*.asv
*.autosave
*.r2010a
*~
*.orig
.directory

*.o
*.d

/.project
/Logs

__vm
Debug